html{
    height:100%;
    margin: auto;
}

body{
    height:100%;

    font-family: Consolas, monaco, monospace; 
    background-color: #363636;
    /*background-image: url(../img/deniswall.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* box-shadow: inset 0 0 0 10000px rgba(255, 255, 255, 0.2); */
    color: antiquewhite;
    opacity: 0.90;
}

.prof_pic{
    height: 168px !important;
    width: 168px !important;
}

.header{
    margin: auto;
}


.central{
    height: auto;
    overflow: auto;
    position: relative;
}
.slogan{
    font-family: Open Sans;
    background-color: #3E3E3E;
    color: lightgrey;
    text-align: center;
}
.delimiter{
    background-color: #3B3B3B;
    color: antiquewhite;
    padding-left: 1ch;
    font-weight: bold;
    cursor: pointer;
}
.menu{
    font-family: Open Sans;
    background-color: #2A2A2A;
    color: antiquewhite;
    padding: 0%;
}
.menu_item, a>.menu_item,a>.menu_item:hover{
    /*padding-left: 2ch;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1ch;
    cursor: pointer;
    color: antiquewhite;
}

.explorer,.explorer:hover{
    font-size: 10px;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:rgba(250, 243, 233, 0.877);
    cursor: default;
    background-color: #2A2A2A !important;
}

div.menu_item:hover{
    background-color: #3A3A3F;
}

.main{
    font-family: Consolas, monaco, monospace; 
    background-color: #232323;
    color: antiquewhite;
    height: auto;
    border: none;
    font-size: 17px;
}

lugano {
position: relative;
display: inline-block;
}

/* Tooltip text */
lugano .tooltiptext {
visibility: hidden;
width: 120px;
color: #fff;
text-align: center;

/* Position the tooltip text */
position: absolute;
z-index: 1;
bottom: -100px;
left: 200px;
margin-left: -60px;

/* Fade in tooltip */
opacity: 0;
transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
lugano:hover .tooltiptext {
visibility: visible;
opacity: 1;
}
.img-thumbnail {
    background: #000;
}
  
/* PAGES*/
.aboutme{
    display:block;
}
.projects{
    display:none;
}
.publications{
    display:none;
}
/*  */
.footer{
    font-family: Open Sans;
    background-color: #007AC7;
    color: antiquewhite;
    text-align: center;
}

span.arrow{
    font-size: 9px;
}

h1 { font-family: Consolas, monaco, monospace; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

h3 { 
    font-family: Consolas, monaco, monospace; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; font-weight: 700; 
    line-height: 15.4px; } 
    
p { 
    font-family: Consolas, monaco, monospace; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; line-height: 20px; 
} 

blockquote { 
    font-family: Consolas, monaco, monospace; 
    font-size: 21px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; } 
    
pre { font-family: Consolas, monaco, monospace; 
    font-size: 13px; font-style: normal; 
    font-variant: normal; 
    font-weight: 400; /**/
    line-height: 25px; 
}

img.icon{
    height: 20px;
    width: 20px; 
}

img.icon.pdf{
    height: 14px;
    width: 14px;
    margin-left: 2%; 
}

/* Code highlighting */

.flag{
    height: 15px;
    width: 15px;
}

field{
    color: #ce9178;
}

subfield{
    color: #7EBCD7;
}

a,a.hover{
    text-decoration: none !important;
}

.ipg,.ipg:hover{
    color: #DC713D;
}

.idsia,.idsia:hover{
    color: #3F90BB;
}

number{
    color: #B2CDA8;
}

subsubfield{
    color: #DBCD68;
}

subsubsubfield{
    color: #c586c0;
}


comment,comment>a,comment>a:hover{
    color: #449C53;
}

instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

facebook{
    background: linear-gradient(120deg,#3b5998,#FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

linkedin,linkedin>a:hover{
    color: #0077b5;
}
linkedin>a>span{
    color: whitesmoke;
}
@media only screen and (max-width: 1000px){
    body {
        background: none;
        background-color: #363636;
    }

    pre { font-family: Consolas, monaco, monospace; 
        font-size: 14px !important;
        line-height: 25px; 
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    body {
        background-color: #363636;
    }

    pre { font-family: Consolas, monaco, monospace; 
        font-size: 14px !important; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 400; /**/
        line-height: 25px; 
    }
}

